body {
    font-family: 'Montserrat', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.main {
    background: none;
    position: relative;
    box-shadow: black 0px 17px 90px 0px;
    margin: 50px auto;
    width: 70rem;
    padding: 50px;
    text-align: center;

    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

#table {
    text-align: center;
    border-collapse: collapse;
    color: white;
}

.table-rows {
    transition: all 0.3s ease;
    cursor: pointer;
}

.items {
    width: 150px;
    height: 30px;
    padding: 15px 35px;
    font-size: 19px;
}
.class-title{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.items:nth-child(2){
  overflow: hidden;
    width: 500px;
}
.items:nth-child(4),.items:nth-child(5){
    overflow: hidden;
      width: 300px;
  }
.table-rows:nth-child(even) {
    background-color: #4F5157;
}

.table-rows:nth-child(odd) {
    background-color: #222327;
}

.table-rows:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
}

.search-box {
    position: absolute;
    background: #222327;
    top: -40px;
    border-radius: 15px 15px 0 0;
    height: 25px;
    left: 0rem;
    padding: 15px 10px 35px 10px;
    width: 17rem;
}

.search-box input.search-input {
    padding: 5px;
    border: none;
    border-bottom: 1px solid #757575;
 
    background: none;
    color: white;
    width: 150px;
    font-size: 15px;
}

.search-box input.search-input:focus {
    outline: none;
    color: deeppink;
}

.action-box {
    position: absolute;
    background: #222327;
    top: -40px;
    border-radius: 15px 15px 0 0;
    height: 25px;
    left: 15rem;
    padding: 15px 10px 35px 10px;
}

.action-box select {
    outline: none;
    padding: 8px;
    background: none;
    border: none;
    font-size: 15px;
 
    color: white;
    transition: 0.5s all;
}

.action-box select:focus {
    color: deeppink;
}

.action-box select option {
    background: #222327;
}

.impact {
    display: flex;
    justify-content: space-between;
}

.impact a {
    color: #9ea7ad;
    transition: all 0.5s;
}

.impact a:hover {
    color: deeppink;
}

.roles {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.roles .role {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 10px;
    font-size: 14px;
}

td.content {
    width: 100%;
}

.action-add {
    position: absolute;
    background: #222327;
    top: -40px;
    height: 25px;
    left: 60rem;
    padding: 15px 50px 35px 10px;
    display: flex;
    width: 120px;
}

.action-add span {
    position: absolute;
    left: 20%;
    justify-content: center;
    font-size: 20px;
    transition: all 0.5s;
}
  a{
    color: white;
}
.action-add span:hover {
    color: deeppink;
    cursor: pointer;
}
.alert-success{
    background-color: white;
    position: absolute;
    top: 5%;
    line-height: 70px;
    width: 200px;
    height: 70px;
    color: black;
}
.alert-success i{
    color: rgb(235, 75, 75);
}
i.success{
    color: rgb(43, 223, 43);
}